
/*Centering Widget*/
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling Widget Container*/
.container {
    width: 380px;
    background: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    filter: drop-shadow(0px 5px 6.324px rgba(0, 0, 0, 0.5));
}

.contactGrid {
    width: 380px;
    background: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: auto auto;

}

/*Figured out alternating Grid Color!*/

.list :nth-child(even) {
    background-color: rgb(26, 26, 26);
}


/*Styling Lists and List Items*/
.nameList {
    text-align: center;
    color: white;
}



.nameContainter {
    padding: 15px;
    border: 1px solid rgb(14, 14, 14);
    display: flex;
    align-items: center;
}


/*Toggle for number to email*/

.numList {

   
    text-align: start;
    display: block;
}

.emailList {

    text-align: start;
    display: none;

}


/*Set a background color opacity to 0, because the nth
selector was selecting the names and changing their
bg color as well*/

.name {
    font-family: helvetica;
    font-size: 12pt;
    padding-left: 12px;
    background-color: rgba(51, 51, 51, 0) !important;
}

.email {
    padding: 15px;
    border: 1px solid rgb(14, 14, 14);
    color: grey;
    font-family: helvetica;
    font-size: 12pt;
}

.number {
    padding: 15px;
    border: 1px solid rgb(14, 14, 14);
    color: grey;
    font-family: helvetica;
    font-size: 12pt;

}

/*Circles*/

.greenCircle {
    background-color: green;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    padding: 2px;
}

.yellowCircle {
    background: yellow;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    padding: 2px;
}

.redCircle {
    background: red;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    padding: 2px;
}
/*Header*/

#topTab{

    background: linear-gradient(rgb(77, 77, 77), rgb(34, 34, 34));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

h1 {
    color: white;
    padding: 10px;
    padding-left: 20px;
    font-family: Helvetica, bold;
    font-size: 14pt;
}

/*Bottom Tab Bar*/
#bottomTab {
    display: flex;
    justify-content: flex-end;
    width: 340px;
    padding: 20px;
    background: linear-gradient(rgb(44, 44, 44), rgb(34, 34, 34));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

select {
    width: 120px;
}